Repository lewoudar/ws: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, bandit, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort ws tests
        language: system
        types:
          - python
      - id: black
        name: black
        entry: poetry run black ws tests
        language: system
        types:
          - python
      - id: bandit
        name: bandit
        entry: poetry run bandit -r ws
        language: system
        exclude: ^tests
        types:
          - python
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types:
          - python

feat(commands): enhance session command with prompt_toolkit goodies
  tests/commands/new_session/test_close.py
  tests/commands/new_session/test_common_usage.py
  tests/commands/new_session/test_help.py
  tests/commands/new_session/test_ping.py
  tests/commands/new_session/test_pong.py
  tests/commands/new_session/test_quit.py
  tests/commands/new_session/test_text_byte.py
  tests/commands/session/__init__.py
  tests/commands/session/test_close.py
  tests/commands/session/test_common_usage.py
  tests/commands/session/test_help.py
  tests/commands/session/test_ping.py
  tests/commands/session/test_pong.py
  tests/commands/session/test_quit.py
  tests/commands/session/test_text_byte.py
  tests/helpers.py
  ws/commands/new_session.py
  ws/commands/session.py
  ws/main.py
Due: isort, black, bandit, flake8

refactor(session): renamed session variable to prompt_session in interact function
  ws/commands/session.py
Due: isort, black, bandit, flake8

docs: added examples in the main cli entrypoint
  README.md
  docs/commands/listen_and_tail.md
  docs/installation.md
  ws/commands/listen.py
  ws/main.py
Due: isort, black, bandit, flake8

docs: updated CHANGELOG.md
  CHANGELOG.md
Due: none

build: updated pyproject.toml version
  pyproject.toml
Due: none

docs: updated README.md and docs/installation.md
  README.md
  docs/installation.md
Due: none

feat(completion): implemented powershell cli completion
  tests/commands/test_completion.py
  ws/commands/completion.py
Due: isort, black, bandit, flake8

build(poetry): fix security issues with some dependencies
  poetry.lock
Due: none

build(poetry): updated dependencies
  poetry.lock
  pyproject.toml
Due: none

ci: added tests for python 3.11
  .github/workflows/ci.yml
  noxfile.py
Due: isort, black, bandit, flake8

ci(safety): added a safety policy file
  .safety-policy.yml
Due: none

fix: updated dependencies to fix certifi version issue
  noxfile.py
  poetry.lock
  pyproject.toml
Due: isort, black, bandit, flake8

ci: updated noxfile to adapt poetry commands
  noxfile.py
  poetry.lock
  pyproject.toml
Due: isort, black, bandit, flake8

build: updated pyproject.toml project version
  CHANGELOG.md
  pyproject.toml
Due: none

ci: fixed deploy session
  noxfile.py
Due: isort, black, bandit, flake8

chore: applied ruff to the project
  noxfile.py
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/test_client.py
  ws/client.py
  ws/commands/completion.py
  ws/commands/echo_server.py
  ws/commands/listen.py
  ws/commands/ping.py
  ws/commands/pong.py
  ws/commands/session.py
  ws/console.py
  ws/parameters.py
  ws/settings.py
  ws/utils/decorators.py
  ws/utils/io.py
Due: isort, black, bandit, flake8

ci: updated Github CI files and .pre-commit-config.yaml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
Due: none

build(poetry): upgraded minimum python version
  pyproject.toml
Due: none

fix: fixed pydantic issue
  .coverage.yml
  .readthedocs.yml
  docs/requirements.txt
  ws/settings.py
Due: isort, black, bandit, flake8

fix: fixed ruff rule
  pyproject.toml
  ws/settings.py
Due: isort, black, bandit, flake8

test: fix zsh completion test
  tests/test_completion.py
Due: isort, black, flake8

chore: upgraded pydantic to v2
  poetry.lock
  pyproject.toml
  tests/commands/session/test_common_usage.py
  tests/commands/session/test_text_byte.py
  tests/commands/test_listen.py
  tests/commands/test_ping_pong.py
  tests/commands/test_tail.py
  tests/commands/test_text_byte.py
  tests/test_client.py
  tests/test_completion.py
  tests/test_parameters.py
  tests/test_utils/test_decorators.py
  ws/client.py
  ws/commands/ping.py
  ws/commands/pong.py
  ws/parameters.py
  ws/settings.py
  ws/utils/command.py
Due: isort, black, bandit, flake8

docs: updated CHANGELOG.md, README.md and mkdocs documentation
  CHANGELOG.md
  README.md
  docs/index.md
  docs/installation.md
Due: none

fix: fixed Annotated import
  ws/parameters.py
Due: isort, black, bandit, flake8

test: skipped one test in test_tail.py module
  tests/commands/test_tail.py
Due: isort, black, flake8

docs: updated code style logo in README.md
  README.md
Due: none

Made various libraries upgrade + ruff linting (#24)
  .coverage.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  CHANGELOG.md
  README.md
  docs/index.md
  docs/installation.md
  docs/requirements.txt
  noxfile.py
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/commands/session/test_common_usage.py
  tests/commands/session/test_text_byte.py
  tests/commands/test_listen.py
  tests/commands/test_ping_pong.py
  tests/commands/test_tail.py
  tests/commands/test_text_byte.py
  tests/test_client.py
  tests/test_completion.py
  tests/test_parameters.py
  tests/test_utils/test_decorators.py
  ws/client.py
  ws/commands/completion.py
  ws/commands/echo_server.py
  ws/commands/listen.py
  ws/commands/ping.py
  ws/commands/pong.py
  ws/commands/session.py
  ws/console.py
  ws/parameters.py
  ws/settings.py
  ws/utils/command.py
  ws/utils/decorators.py
  ws/utils/io.py
Due: isort, black, bandit, flake8

build: fixed python version used to deploy package in noxfile.py
  noxfile.py
Due: isort, black, bandit, flake8

test(nox): updated noxfile.py
  noxfile.py
Due: isort, black, bandit, flake8

docs: updated README.md and CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Due: none

ci: removed poetry installation in noxfile.py
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  noxfile.py
Due: isort, black, bandit, flake8

ci: limited poetry version (<1.8.0)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

CI: change how to install and run poetry (#25)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  CONTRIBUTING.md
  README.md
  noxfile.py
Due: isort, black, bandit, flake8

ci(noxfile): added ruff format check in lint session
  noxfile.py
  poetry.lock
Due: isort, black, bandit, flake8

docs(README): updated CI badge to point to actions page
  README.md
Due: none

ci(noxfile): updated safety session to take in account "audit" group in pyproject.toml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: isort, black, bandit, flake8

docs: updated url for poetry badge in README.md
  README.md
Due: none

refactor(main.py): added an entrypoint to run the program
  ws/main.py
Due: isort, black, bandit, flake8

build(poetry): added pyinstaller dependency
  poetry.lock
  pyproject.toml
Due: none
